# **Exploratory Data Analysis notebook**

### Import Modules

In [21]:
import pandas as pd

### Load customer dataset

In [22]:
df = pd.read_csv('../data/customer_data.csv')

## Dataset Overview

### 1. Shape of the Data

In [23]:
df.shape # Shows number of rows and columns

(100000, 12)

### Preview Data

In [24]:
df.head() # Show first few rows

,id,age,gender,income,education,region,loyalty_status,purchase_frequency,purchase_amount,product_category,promotion_usage,satisfaction_score
0,1,27,Male,40682,Bachelor,East,Gold,frequent,18249,Books,0,6
1,2,29,Male,15317,Masters,West,Regular,rare,4557,Clothing,1,6
2,3,37,Male,38849,Bachelor,West,Silver,rare,11822,Clothing,0,6
3,4,30,Male,11568,HighSchool,South,Regular,frequent,4098,Food,0,7
4,5,31,Female,46952,College,North,Regular,occasional,19685,Clothing,1,5

### Column names

In [25]:
df.columns # Show column names

Index(['id', 'age', 'gender', 'income', 'education', 'region',
       'loyalty_status', 'purchase_frequency', 'purchase_amount',
       'product_category', 'promotion_usage', 'satisfaction_score'],
      dtype='object')

### Data Types

In [26]:
df.dtypes # Show data types

id                     int64
age                    int64
gender                object
income                 int64
education             object
region                object
loyalty_status        object
purchase_frequency    object
purchase_amount        int64
product_category      object
promotion_usage        int64
satisfaction_score     int64
dtype: object

## Statistic Summary

### Descriptive Statistic

In [27]:
df.describe()

,id,age,income,purchase_amount,promotion_usage,satisfaction_score
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,50000.500000,30.003260,27516.269880,9634.790840,0.300800,5.009650
std,28867.657797,4.480535,12996.782587,4799.339449,0.458608,1.038714
min,1.000000,12.000000,5000.000000,1118.000000,0.000000,0.000000
25%,25000.750000,27.000000,16271.750000,5583.000000,0.000000,4.000000
50%,50000.500000,30.000000,27584.500000,9452.000000,0.000000,5.000000
75%,75000.250000,33.000000,38747.250000,13350.000000,1.000000,6.000000
max,100000.000000,49.000000,50000.000000,26204.000000,1.000000,10.000000

### Categorical Value Counts

In [28]:
df['gender'].value_counts() # Count gender

gender
Female    50074
Male      49926
Name: count, dtype: int64

In [29]:
df['education'].value_counts() # Count education

education
College       39874
Bachelor      30279
HighSchool    20031
Masters        9816
Name: count, dtype: int64

In [32]:
df['region'].value_counts() # Count region

region
East     30074
West     29935
South    20073
North    19918
Name: count, dtype: int64

In [33]:
df['loyalty_status'].value_counts() # Count loyalty status

loyalty_status
Regular    60138
Silver     29964
Gold        9898
Name: count, dtype: int64

In [34]:
df['purchase_frequency'].value_counts() # Count purchase frequency

purchase_frequency
rare          50019
occasional    29886
frequent      20095
Name: count, dtype: int64

In [35]:
df['product_category'].value_counts() # Count product category

product_category
Electronics    30027
Clothing       19989
Books          14925
Food           14822
Health         10123
Home            5079
Beauty          5035
Name: count, dtype: int64