# **Exploratory Data Analysis notebook**

### Import Modules

In [21]:
import pandas as pd

### Load customer dataset

In [22]:
df = pd.read_csv('../data/customer_data.csv')

## Dataset Overview

### 1. Shape of the Data

In [23]:
df.shape # Shows number of rows and columns

(100000, 12)

### Preview Data

In [24]:
df.head() # Show first few rows

,id,age,gender,income,education,region,loyalty_status,purchase_frequency,purchase_amount,product_category,promotion_usage,satisfaction_score
0,1,27,Male,40682,Bachelor,East,Gold,frequent,18249,Books,0,6
1,2,29,Male,15317,Masters,West,Regular,rare,4557,Clothing,1,6
2,3,37,Male,38849,Bachelor,West,Silver,rare,11822,Clothing,0,6
3,4,30,Male,11568,HighSchool,South,Regular,frequent,4098,Food,0,7
4,5,31,Female,46952,College,North,Regular,occasional,19685,Clothing,1,5

### Column names

In [25]:
df.columns # Show column names

Index(['id', 'age', 'gender', 'income', 'education', 'region',
       'loyalty_status', 'purchase_frequency', 'purchase_amount',
       'product_category', 'promotion_usage', 'satisfaction_score'],
      dtype='object')

### Data Types

In [26]:
df.dtypes # Show data types

id                     int64
age                    int64
gender                object
income                 int64
education             object
region                object
loyalty_status        object
purchase_frequency    object
purchase_amount        int64
product_category      object
promotion_usage        int64
satisfaction_score     int64
dtype: object